<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if votable?(micropost.id) %>
      <%= link_to "upvote", upvote_micropost_path(micropost.id) %>,
      <%= link_to "downvote", downvote_micropost_path(micropost.id) %>,
    <% else %>
      voted,
    <% end %>
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, method: :delete, data: { confirm: "You sure?" } %>.
    <% end %>
    <% if micropost.upvote >= micropost.downvote %>
      Vote: <%= micropost.upvote - micropost.downvote %>.
    <% else %>
      Vote: -<%= micropost.downvote - micropost.upvote %>.
    <% end %>
  </span>
  <ol class="replies">
    <%= render micropost.replies %>
  </ol>
  <section class="reply_form">
    <%= form_for micropost.replies.build do |f| %>
      <%= hidden_field_tag :micropost_id, micropost.id %>
      <%= render 'shared/error_messages', object: f.object %>
        <div class="field">
          <%= f.text_area :content, placeholder: "Leaving a reply..." %>
        </div>
      <%= f.submit "Reply", class: "btn btn-primary" %>
    <% end %>
  </section>
</li>